*{
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    background-color: rgb(204, 59, 59);
    padding: 10px 20px;
    display:flex
}

.w50{
    width: 50%;
}

nav{
    text-align: right;
}
nav a{
    color: aliceblue;
}
nav a:hover{
    color: rgb(179, 100, 243);
}

section.banner{
    height: 170px;
    background-color: rgb(179, 100, 243);
    text-align: center;
    padding-top: 70px
    ;
}

section.titulos{
    display: flex;
}
.w33{
    width: 33.3%;
    text-align: center;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(179, 100, 243);
    text-align: center;
}